@{
    ViewData["title"] = Localizer.Get("Home");
}

@* ************** Content ************** *@
<div class="row">

    <div class="col-12 text-center">
        <img src="/custom/img/dashboard.png" />
    </div>

</div>

