@{
	ViewData["title"] = Localizer.Get("Home");
	bool isNotAuth = (bool)ViewData["isNotAuth"];
}


@if (isNotAuth)
{
	@section PageScripts {
	<script>
		$(document).ready(function () {
			$("#not-auth-modal").modal('show')
		})
	</script>
}

}

@* ************** Content ************** *@
<div class="row">

	<div class="col-12 text-center mt-5">
		<img src="/custom/img/dashboard.png" />
	</div>

</div>

@if (isNotAuth)
{

}
